@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-container {
    margin: 50px auto 50px;
    padding: 10px;
    width: 60%;
    border: 1px solid black;
    border-radius: 10px;
}

p {
    font-weight: 700;
    margin: 5px 0;
}

span {
    color: red;
}

.name-container {}

.name-container>div {
    display: inline-block;
    width: 40%;

}

.name-container>div>input {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}

.email-container {
    margin: 30px 0;
}

.email-container>input {
    width: 80%;
    height: 30px;
}

.experience {
    margin: 30px 0;
}

.rating {
    width: 208px;
    height: 40px;
    background: #f9f9f9;
}

.rating label {
    float: right;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.rating label:not(:first-of-type) {
    padding-right: 2px;
}

.rating label:before {
    content: "\2605";
    font-size: 42px;
    color: #ccc;
    line-height: 1;
}

.rating input {
    display: none;
}

.rating input:checked~label:before,
.rating:not(:checked)>label:hover:before,
.rating:not(:checked)>label:hover~label:before {
    color: #fc9104;
}

.satisfy,
.likely {
    margin: 30px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 8px;
}

td {
    text-align: center;
    width: 16.6666%;
}

td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#submit {
    margin: 10px 0;
    padding: 15px;
    font-size: 20px;
}